@import "bootstrap.less";
@import "utilities.less";

body {
	margin: 0 100px 0;  
}
a {
   outline: 0 !important;
}

h1 {
	font-family: "Dosis", sans-serif;
}

.popover-content {
	text-align: center;
}


/* HEADER */

header {
	.headOnly {
		display: none;
	}
}
.content {
	height: auto;
	-webkit-transition: all 0.25s; /* Safari */
  transition: all 0.25s;
}

.pageHeader {
	margin-top: 8vh;
	text-align: center;
	a:hover {
		text-decoration: none;
	}
}


nav ul {
	list-style: none;
	padding-left: 0;
	li {
		display: inline-block;
		padding: 0 15px 0 0;
	}
}
	header.hiddenHeader {
		h1 { 
			position: relative;
			top: -2em;
		}
		.content {
			height: 0;
		}
	}

	header.collapsed {
		.contents {
			position: fixed;
			top: 0;
			background: white;
			z-index: 10;	
			right: 0;
			left: 0;
		}
		.fullLogo {
			display: none;
		}
		.headOnly {
			display: inline-block;
			padding-left: 15px;
		}
		.pageHeader {
			margin-top: 6px;
			text-align: left;
			min-height: 70px;
		}
		h1 {
			font-size: 24px;
			display: inline;
			padding-left: 22px; 
			text-align: left;
			-webkit-transition: all 0.25s; /* Safari */
  		transition: all 0.25s;
  		top: 8px;
  		position: relative;
		}
		nav {
			position: absolute;
			top: 26px;
			left: 300px;
		}
	}
/* HEADER */


/* CART INFO */
.cartInfo {
	display: block;
	position: absolute;
	position: fixed;
	z-index:10;
	right: 10%;
	top: 0;
	background-color: @brand-primary;
	padding: 6px 10px 6px 12px;
	color: white;
	border-radius: 0 0 @border-radius-base @border-radius-base;
	.glyphicon-shopping-cart {
		padding-left: 4px;
		padding-right: 6px;
	}
	.infoText {
		display: none;
	}
}
.cartInfo:hover {
	color:white;
	background-color: darken(@brand-primary, 10%);
	text-decoration: none;
	.infoText {
		display: inline-block;
	}
}
.cartInfo:active {
	background-color: darken(@brand-primary, 20%);
}

/* END CART INFO*/

/* BUY LINKS */
.buyLink{
	.textDescription {
		display: none;
	}
}
.buyLink:hover{
	text-decoration: none;
	.textDescription {
		display: inline;
	}
}
/* END BUY LINKS */

/* ITEMS */

.home .releaseItems {
	margin-left: -80px;
	margin-right: -80px;
}

.releaseItems{ 
	font-size: 0;
	text-align: center;
	position: relative;
	h3 {
		text-align: left;
	}
	.item-list {
		position: relative;
	}
	.item{
		position: relative;
		text-align: left;
		font-size: 14px;
		width: 225px;
		display: inline-block;
		vertical-align: top;
		margin: 12px;
		.cover {
			position: relative;
			display: block;
		}
		.freeMp3 {
			position: absolute;
			right: -10px;
			background: @brand-primary;
			color: white;
			bottom: -10px;
			padding: 3px 16px;
			//-ms-transform: rotate(45deg); /* IE 9 */
  	  //-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    	//transform: rotate(45deg);
    	box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
    	font-size: 0.9em;
		}
		.title {
			font-weight: bold;
		}
		.releases {
			margin-top: 4px;
			line-height: 1.5;
			font-size: 0.8em;
		}
		.actionButtons {
			display: none;
			position: absolute;
			top: 40px;
			text-align: center;
			width: 100%;
			a {
				display: block;
				margin-left: 40px;
				margin-right: 40px;
			}
		}
	}
	.item:hover {
		.cover {
			opacity: 0.4;
		}
		.actionButtons{
			display: block;
		}
		.buyLink {
			display: inline-block;
		}
	}
}
/* END ITEMS */

/* SINGLE ITEM */
.singleItem {
	.author {
		font-family: @font-family-sans-serif;
		margin-top: 0;
		font-weight: normal;
	}
	.title {
		font-family: @font-family-sans-serif;
		margin-top: 0;
	}
	.slideshow {
		position: relative;
	}
	.slideshowControls {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		color: white;
		text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
		font-size: 2em;
		.previous, .next {
			position: absolute;
			cursor: pointer;
			height: 100%;
			width: 40%;
			top: 0;
			span {
				top: 45%;
				padding: 0 12px;
			}
		}
		.previous:hover, .next:hover {
			color: @brand-primary;
			text-shadow: none;	
		}
		.next {
			right: 0;
			text-align: right;
		}
	}
}
/* END SINGLE ITEM */

footer {
	line-height: 0;
	position: relative;
	z-index:2;
	.content {
		background-color: white;
		padding: 0 12px;
	}
}

footer:before {
	border-top: 1px solid @gray-dark;
	content: '';
	display: block;
	z-index: -1;
}