@import "bootstrap.less";
@import "utilities.less";

body {
	margin: 64px;  
}

.popover-content {
	text-align: center;
}

/* FIRST PAGE HEADER */
.firstPageHeader a:hover {
	text-decoration: none;
}

/* END FIRST PAGE HEADER */


/* CART INFO */
.cartInfo {
	display: block;
	position: absolute;
	position: fixed;
	z-index:10;
	right: 10%;
	top: 0;
	background-color: @brand-primary;
	padding: 6px 10px 6px 12px;
	color: white;
	border-radius: 0 0 @border-radius-base @border-radius-base;
	.glyphicon-shopping-cart {
		padding-left: 4px;
		padding-right: 6px;
	}
	.infoText {
		display: none;
	}
}
.cartInfo:hover {
	color:white;
	text-decoration: none;
	padding: 6px 18px 6px 20px;
	margin-right: -6px;
	.infoText {
		display: inline-block;
	}
}

/* END CART INFO*/

/* ITEMS */
.items{ 
	font-size: 0;
	text-align: center;
	padding: 0 10%;
	.item{
		position: relative;
		text-align: left;
		font-size: 14px;
		width: 225px;
		display: inline-block;
		vertical-align: top;
		margin: 12px;
		.title {
			font-weight: bold;
		}
		.releases {
			margin-top: 4px;
			line-height: 1.5;
			font-size: 0.8em;
		}
		.actionButtons {
			display: none;
			position: absolute;
			top: 40px;
			text-align: center;
			width: 100%;
			a {
				display: block;
				margin-left: 40px;
				margin-right: 40px;
			}
		}
	}
	.item:hover {
		.cover {
			opacity: 0.4;
		}
		.actionButtons{
			display: block;
		}
	}
}
/* ITEMS */

footer {
	line-height: 0;
	position: relative;
	z-index:2;
  .content {
		background-color: white;
 		padding: 0 12px;
 	}
}

footer:before {
	border-top: 1px solid @gray-dark;
	content: '';
	display: block;
	z-index: -1;
}