<a href="cart" class="cartInfo text-center">
	 <span id="cartInfoItemCount" >0</span> <i class="glyphicon glyphicon-shopping-cart"></i> <span id="cartTotalPrice" class="price"> 00.00 €</span><br/>
	 <span class="infoText">go to cart</span>
	 
</a>