<div class="filters col-md-12">
	<span class="active">NEW</a>
	<a href="#" class="">ALL</a>
	<a href="#" class="">CD</a>
	<a href="#" class="">LP</a>
	<a href="#" class="">EP</a>
	<a href="#" class="">MC</a>
</div>