<div class="lmb">
<div class="filters">
<ul class="nav nav-tabs">
  <li class="active"><a href="#">NEW</a></li>
  <li><a href="#">ALL</a></li>
  <li><a href="#">CD</a></li>
  <li><a href="#">LP</a></li>
  <li><a href="#">EP</a></li>
  <li><a href="#">MC</a></li>
</ul>
</div>
</div>