<div class="row mmb">
	<div class="col-md-12 text-center firstPageHeader">
		<a href="/">
			<img src="/img/logo_bit65.png" width=65 height=104 alt="bitnost logo">
			<h1>Bitnost Records</h1>
		</a>
	</div>
</div>
