<footer class="text-center lmt mmb">
	<div class="row">
	<div class="mmt">
	{{> navbar}}
	</div>
	</div>
	<div class="row">
	<div class="copyright">© 2015 Anost</div> 
	</div>
</footer>

<!-- Scripts at the bottom -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
<!-- End scripts -->
</body>
</html>