<div class="items">
 {{#each albuns}}
 <div class="item">
		<img class="cover" src="{{this.cover}}" width=225 height=225 />
		<div class="author">{{this.author}}</div>
		<div class="title">{{this.title}}</div>
		<div class="prices">{{this.prices}}</div>
	</div>
	{{/each}}
	
</div>