<div class="row">
	<div class="col-md-12 pageHeader smb">
		<a class="LogoLink" href="/">
			<img class="fullLogo" src="/img/logo_bit65.png" width=65 height=104 alt="bitnost logo">
			<img class="headOnly" src="/img/head_bit.png">
			<h1>Bitnost Records</h1>
		</a>
	</div>
</div>
