{{> header 'home'}}
<div class="container-fluid">
{{> cartInfo}}
{{> pageHeader}}
{{> navbar}}
<div class="row">
	<div class="releaseItems">
	<h3>New Releases</h3>
	{{>items albuns }}
	</div>
</div>
</div>
{{> footer}}
