{{> header}}
<div class="container-fluid">
{{> cartInfo}}
{{> pageHeader}}
{{> navbar}}
<div class="row">
	<div class="col-md-12 items">
	<h3>New Releases</h3>
	{{>items}}
	</div>
</div>
</div>
{{> footer}}
