{{> header 'home'}}
<div class="container-fluid">
<header>
	<div class="contents">
{{> cartInfo}}
{{> pageHeader}}
{{> navbar}}
	</div>
</header>
<div class="row releases">
	<h3>Releases</h3>
	{{> filters}}
	<div class="releaseItems">
	{{>items albuns }}
	</div>
</div>
</div>
{{> footer}}
